@model WFARTHA.Models.CadenaAutorizacion


@{
    /**/

    //ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pagina_r = 713;
    ViewBag.carpeta_r = 500;
}

<script src="~/Scripts/Catalogos.js"></script>


<div class="row" style="margin-bottom:0">
    <div class="col s12 right-align">
        <a id="btn_guardarhca" class="btn btn-small">Enviar</a>
    </div>

</div>
@using (Html.BeginForm("Create", "CadenaAutorizacion", FormMethod.Post, new { enctype = "multipart/form-data", id = "formCreate" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col s12 l12 right-align">
            @*<a class="btn" style="display:none" href="@Url.Action("Pass", new { id = Model.ID})">Cambiar contraseña</a>*@
            <input type="submit" id="btn_guardarca" value="Guardar" style="display:none" class="btn" />
        </div>
    </div>
    <div class="row">
        <div class="col l6 s12">
            <div class="card-panel">
                <div class="row">
                    <div class="form-group">
                        <div class=" dropdown col s12">
                            @Html.Label("Usuario Creador", htmlAttributes: new { @id = "lbl_sociedad" })
                            @Html.DropDownListFor(model => model.USUARIOC_ID, Model.usersLista, "Seleccione tipo de usuario", new { @class = "browser-default" })
                            @Html.ValidationMessageFor(model => model.USUARIOC_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="input-field col s12">
                        @Html.EditorFor(model => model.ID_RUTA_AGENTE,"Solicitante", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.Label("Ingrese Ruta de Agente ", htmlAttributes: new { @id = "lbl_nombre" })
                        @Html.ValidationMessageFor(model => model.ID_RUTA_AGENTE, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col l6 s6">
            <div class="card-panel">
                <div class="row">
                    <div class="form-group">
                        <div class=" dropdown col s12">
                            @Html.Label("Agente", htmlAttributes: new { @id = "lbl_sociedad" })
                            @Html.DropDownListFor(model => model.USUARIOA_ID, Model.usersLista, "Seleccione tipo de usuario", new { @class = "browser-default" })
                            @Html.ValidationMessageFor(model => model.USUARIOA_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}


@if (ViewBag.Error != null)
{
    <script>
             M.toast({ html: '@ViewBag.Error'});
    </script>
}

