@model WFARTHA.Entities.USUARIO


@{
    /**/

    //ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pagina_r = 602;
    ViewBag.carpeta_r = 500;
}

<script src="~/Scripts/Catalogos.js"></script>


<div class="row" style="margin-bottom:0">
    <div class="col s12 right-align">
        <a id="btn_guardarhp" class="btn btn-small">Enviar</a>
    </div>

</div>
@using (Html.BeginForm("CambioPass", "Usuarios", FormMethod.Post, new { enctype = "multipart/form-data", id = "formCreate" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col s12 l12 right-align">
            @*<a class="btn" style="display:none" href="@Url.Action("Pass", new { id = Model.ID})">Cambiar contraseña</a>*@
            <input type="submit" id="btn_guardarp" value="Guardar" style="display:none" class="btn" />
        </div>
    </div>
    <div class="row">
        <div class="col l12 s12">
            <div class="card-panel">
                <div class="row">
                    <div class="form-group">
                        <div class=" dropdown col s12">
                            @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @style = "display: none", @class = "form-control", @Value = ViewBag.id } })

                        </div>
                    </div>
                    <div class="input-field col s12">
                        @Html.EditorFor(model => model.PASS, new { htmlAttributes = new { @class = "form-control" , @type = "password" } })
                        @Html.Label("Ingrese contraseña", htmlAttributes: new { @id = "lbl_appPat" })
                        @Html.ValidationMessageFor(model => model.PASS, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-field col s12">
                        @Html.EditorFor(model => model.FIRMA, new { htmlAttributes = new { @class = "form-control" , @type = "password" } })
                        @Html.Label("Confirme Contraseña", htmlAttributes: new { @id = "lbl_appMat" })
                        @Html.ValidationMessageFor(model => model.FIRMA, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>


}


@if (ViewBag.Error != null)
{
    <script>
            M.toast({ html: '@ViewBag.Error'});
    </script>
}
