@model WFARTHA.Entities.CAMPOS

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>CAMPOS</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DESCRIPCION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DESCRIPCION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TIPO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TIPO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PAGINA.URL)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PAGINA.URL)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
