@model WFARTHA.Models.DOCUMENTO_MOD
@if (Model.DOCUMENTOCOC != null)
{
    for (var i = 0; i < Model.DOCUMENTOCOC.Count; i++)
    {
<tr>
    <td>@Html.EditorFor(m => m.DOCUMENTOCOC[i].POS)</td>
    <td>@Html.EditorFor(m => m.DOCUMENTOCOC[i].MATNR)</td>
    <td>@Html.EditorFor(m => m.DOCUMENTOCOC[i].PS_PSP_PNR)</td>
    <td>@Html.EditorFor(m => m.DOCUMENTOCOC[i].WAERS)</td>
    <td>@Html.EditorFor(m => m.DOCUMENTOCOC[i].MENGE_BIL)</td>
    <td>@Html.EditorFor(m => m.DOCUMENTOCOC[i].MEINS)</td>
    <td>@Html.EditorFor(m => m.DOCUMENTOCOC[i].TOTAL)</td>
</tr>
    }
}
